#app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  background-color: white;
  padding: 21px 24px;
}

#app-header .logo img {
  height: 24px;
}

#app-header .user-info {
  display: flex;
  align-items: center;
}

#app-header .user-info .user-name {
  font-weight: bold;
}

#app-header .user-info .user-initials {
  margin-left: 16px;
}

#app-header .user-info span:not(:last-child) {
  margin-right: 5px;
}

@media screen and (max-width: 600px) {
  #app-header .user-info {
    justify-content: space-between;
  }
  #app-header .user-info .user-text {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
