:root {
  --text-color: #555555;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: white;
  -webkit-font-smoothing: antialiased;
  color: var(--text-color);
}

body, input, button {
  font-family: 'PT Sans Caption', sans-serif;
  font-size: 14px;
}

h1 {
  font-size: 32px;
}

.app-content {
  width: 100%;
}
