#hero-list {
  margin-top: 40px;
}

#hero-list .hero-list-header {
  display: flex;
  justify-content: space-between;
  padding: 0 20px 9px;
  font-size: 12px;
}

#hero-list .hero-list-header .column {
  width: 30%;
}
